
body {
    padding-top: 50px;
    padding-left: 250px;
    background-color: #f1f5f8; 
    min-width: 795px;
}

#sidebar {
    padding-top: 50px;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    color: #fff;
}

#sidebar a {
    padding: 10px 20px;
    color: #fff;
}

#sidebar a:hover {
    background-color: #555;
}

#content {
    margin-left: 250px;
    padding: 20px;
}